extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        if errores
            each error in errores
                .alerta= error.texto

        form(action="/nuevo-proyecto" method="post" class="agregar-proyecto")
            .campo
                label(for="nombre") Nombre Proyecto:
                input(type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto")
            .campo.enviar
                input(type="submit" value="Agregar" class="boton")